# Data that hasn't been anonymized yet
data/all_validation_data_unclean.csv

# The Rproject files
*.Rproj
*.Rproj.user
.Rproj.user

# Other R files
.Rdata
.Rhistory

# References files
apa.csl
references.yaml

.DS_Store
